*.lock
sample-config.yml
sample-awconfig.yml

.sass-cache/
*.gml

.ipynb_checkpoints/*
scratch.rb.ipynb
*.ipynb
_site/*

temp.config
temp.osm.pbf

sample_projects/*
_config.yml
*.json
doc/*
/logs
/analysis_windows

*~
