<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        Time Period: {{ site.start_date | date: "%B %d, %Y" }} - {{ site.end_date | date: "%B %d, %Y" }} <br />

        Study Area:
        <div id="map" style="width: 600px; height: 400px"></div>
        <script src="/assets/js/locator-map.js"></script>

        {{ site.bbox }}, {{ site.bbox[1] }}, {{ site.bbox[2] }}, {{ site.bbox[3] }}

        <h2>Node Questions</h2>  
        Total Nodes Added During Time Period: {{ site.data.node_added_count['node_added_count'] }}  <br />
        Total Nodes Edited During Time Period: {{ site.data.total_nodes_edited['Total Nodes Edited'] }}  <br />
        Nodes Edited By New Mappers: {{ site.data.number_of_nodes_edited_by_new_mappers['Nodes Edited by New Mappers']}} <br />
        Nodes Edited By Experienced Mappers: {{ site.data.number_of_nodes_edited_by_experienced_mappers['Nodes Edited by Experienced Mappers'] }} <br />
        Nodes Edited Per Day:
        <div class="nodes-per-day"><script src="/assets/js/nodesperday.js"></script></div>

        <h2>Changeset Questions</h2>
        Total Changesets Created: {{ site.data.total_changesets_created['Number of Changesets'] }} <br />
        Average Changeset Area: {{ site.data.average_changeset_area['Average Changeset Area'] }} <br />
        Average Changeset Node Density: {{ site.data.average_changeset_node_density['Average Changeset Node Density'] }} <br />
        Mean Changesets Per Mapper: {{ site.data.mean_changesets_per_mapper['Mean Changesets Per Mapper'] }} <br />
        Median Changesets Per Mapper: {{ site.data.median_changesets_per_mapper['Median Changesets Per Mapper'] }} <br />
        Number of Changesets By New Mappers: {{ site.data.number_of_changesets_by_new_mappers['Number of Changesets by New Mappers'] }} <br />
        Number of Changesets By Experienced Mappers: {{ site.data.number_of_changesets_by_experienced_mappers['Number of Changesets by Experienced Mappers'] }}

    </div>
  </div>

    {% include footer.html %}

  </body>

</html>
