<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        Time Period: {{ site.start_date | date: "%B %d, %Y" }} - {{ site.end_date | date: "%B %d, %Y" }} <br />

        Study Area:
			</div>
        <div id="map" style="width: 100%; height: 500px"></div>
        <script src="/assets/js/locator-map.js"></script>       
			<div class="wrapper">
				<h2>Summary Stats</h2>
				<div id="user-counts">
<!--					Nodes:<span></span><br/>
					Ways:<span></span><br/>
					Relations:<span></span><br/>
					Changesets:<span></span>
-->
				</div>
				<h2>Users</h2>
				<ul id="users"></ul>
        <script src="/assets/js/userlist.js"></script>       
    </div>
  </div>

    {% include footer.html %}

  </body>

</html>
